
<div class="container">
  <div class="card mt-2" *ngIf="debug">
    <div class="card-header">
      <h5>Solution</h5>
    </div>
    <div class="card-body">
      <ng-container *ngFor="let idiom of idioms.keys()">
        {{idiom}}
      </ng-container>
    </div>
</div>

  <div class="card bg-light mt-5">
    <div class="card-header">
      <h5 class="float-left"><fa-icon [icon]="['fas', 'clipboard']"></fa-icon> {{score}}/{{selectedDifficulty.numOfIdioms}}</h5>
      <h5 class="float-right"><fa-icon [icon]="['fas', 'stopwatch']"></fa-icon> {{secondsRemaining}}</h5>
    </div>
    <div class="card-body">
      <div class="row card-body pt-2 pb-2"*ngFor="let row of gamePieces; index as i ">
        <div class="col-3 p-0" *ngFor="let gamePiece of row">
          <app-gamepiece [data]="gamePiece" [gameStarted]="gameStarted" (clickEvent)="pieceClick($event)"></app-gamepiece>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="btn-group btn-group-sm btn-group-toggle float-left" data-toggle="buttons">
        <label class="btn btn-secondary" *ngFor="let difficulty of difficulties"
        [ngClass]="{
        'active': selectedDifficulty == difficulty
        }">
          <input type="radio" name="difficulty"
                 [value]="difficulty"
                 [(ngModel)]="selectedDifficulty" (change)="onDifficultyChange()">
          {{difficulty.name}}
        </label>
      </div>
      <button class="btn btn-sm btn-primary float-right" (click)="openModal(helpModal)">
        <fa-icon [icon]="['fas', 'info']"></fa-icon>
      </button>
      <button class="btn btn-sm btn-danger float-right" (click)="resetGame()">Reset</button>
      <button class="btn btn-sm btn-success float-right" (click)="startGame()" *ngIf="!gameStarted">Start</button>
    </div>
  </div>

  <ng-template #gameEndModal>
    <div class="modal-header">
      <h5 class="modal-title">
        <span *ngIf="selectedDifficulty.numOfIdioms === score">You Won!</span>
        <span *ngIf="selectedDifficulty.numOfIdioms !== score">Game over</span>
      </h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p> You score {{score}}/{{selectedDifficulty.numOfIdioms}}</p>
      <h6>Answer</h6>
      <ul>
        <li *ngFor="let idiom of idioms.keys()">
          {{idiom}}
        </li>
      </ul>
    </div>
  </ng-template>

  <ng-template #helpModal>
    <div class="modal-header">
      <h5 class="modal-title">
        How to play the game ?
      </h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ol>
        <li>Choose your difficulty level</li>
        <li>Tap on the start button or any tile to start</li>
        <li>Select two tiles to swap the characters to form idioms</li>
        <li>Tap on the same tile to unselect</li>
      </ol>
    </div>
    <div class="modal-footer">
      <a class="btn btn-sm btn-dark mr-auto" target="_blank" href="https://github.com/jinyuan/chengyu">
        <fa-icon [icon]="['fab','github']"></fa-icon> Github
      </a>
    </div>
  </ng-template>
</div>

